body {
    font-family: "Proxima Nova", sans-serif;
    word-break: break-word;
}

.logo {
    width: 8em;
}

.company-information h4 {
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    margin: 0 0 3px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    color: #949699;
}

.company-information h1 {
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    margin: 0 0 3px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 32px;
    color: #4d5055;
}

.details-information {
    padding-left: 30px;
    padding-right: 10px;
}

.details-information div {
    padding-left: 0;
    color: #949699;
    margin-bottom: 15px;
}

.details-information div i {
    font-size: 1.3rem;
    margin-right: 10px;
}

.details-calendar {
    color: #06c29c !important;
}

.meeting-information h6 {
    font-weight: 600;
}

.meeting-information label {
    font-size: 0.9rem;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .meeting-information {
        border-left: 1px solid #dee2e6;
    }
}
